@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: "Brittany";
  src: url("./assets/fonts/brittany/Brittany.ttf")
}

:root {
  --brown: #BC6C25;
  --light-brown: #DDA15E;
  --beige: #FEFAE0;
  --dark-black: #201f1f;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.brittany {
  font-family: "Brittany";
}

.portada {
  background-image: url("/src/assets/img/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -65px;
  height: 100vh;
  filter: brightness(0.7);
}


.mensaje {
  display: block;
  white-space: nowrap;
  border-right: 2px solid;
  width: 40ch;
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  overflow: hidden;
  margin: 0 auto;
  padding: 2px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.custom-position {
  top: 50px;
}

footer {
  background-color: var(--dark-black);
}

.redes {
  color: var(--beige);
}

@media (max-width: 576px) {
  .custom-position {
    top: 44px;
  }
}