@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: "Brittany";
  src: url("./assets/fonts/brittany/Brittany.ttf")
}

:root {
  --brown: #BC6C25;
  --light-brown: #DDA15E;
  --beige: #FEFAE0;
  --dark-black: #201f1f;
}

*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--dark-black) 30%, var(--light-brown) 100%);
  border-radius: 8px;
  border: 3px solid #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.brittany {
  font-family: "Brittany";
}

.btn-primary {
  background-color: var(--dark-black) !important;
    color: var(--beige) !important;
    border: none !important;
}

/* HOME */
/* Banner principal */
.portada {
  background-image: url("../public/img/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
  height: 100vh;
  filter: brightness(0.7);
}

  /* Sección nosotros */
.seccion-nosotros {
  background-color: var(--dark-black);
}

.titulo-nosotros {
  background-color: var(--beige);
  top: -15px;
  left: -30px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.outfits-mujer {
  background-image: url("../public/img/outfits-mujer.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
  height: 90vh;
}

.outfits-hombre {
  background-image: url("../public/img/outfits-hombre.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
  height: 90vh;
}

.estilo-rock-mujer {
  background-image: url("./pages/OutfitsMujer/img/estilo-rock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  height: 100vh;
}

.estilo-rock-hombre {
  background-image: url("./pages/OutfitsHombre/img/estilo-rock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  height: 100vh;
}

.estilo-urbano {
  background-image: url("./pages/OutfitsHombre/img/estilo-urbano.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
  height: 100vh;
}

.estilo-chic {
  background-image: url("./pages/OutfitsHombre/img/estilo-chic.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  height: 100vh;
}


.estilo-boho {
  background-image: url("./pages/OutfitsMujer/img/estilo-boho.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  height: 100vh;
}

.estilo-casual {
  background-image: url("./pages/OutfitsMujer/img/estilo-casual.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% top;
  height: 100vh;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.custom-position {
  top: 50px;
}

footer {
  background-color: var(--dark-black);
}

.redes {
  color: var(--beige);
}

@media (max-width: 576px) {
  .custom-position {
    top: 44px;
  }
}